rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /ads/{docId} {
      allow read: if true;
      allow create: if request.auth != null && 
                      get(/databases/$(database)/documents/creatorAccess/$(request.auth.uid)).data.approved == true;
      allow update: if true;
      allow delete: if true;
    }

    match /creatorAccess/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow create, update: if request.auth != null && request.auth.uid == uid;
    }

    match /clicks/{docId} {
      allow create: if true;
    }
  }
}
